#container-general
{
    overflow:hidden;
}

/*=====================================
=            SECTION COVER            =
=====================================*/

#section-cover
{
    position: relative;

    height: 610px;
    padding-top: 230px;
}
#section-cover:before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    opacity: 0;
    -webkit-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}
#section-cover.anim:before
{
    opacity: 1;
}
#section-cover .bg-filter
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
#section-cover .content
{
    position: relative;
    z-index: 1;

    width: 1500px;
    padding: 0px 0px 0px 0px;
    margin: auto;
    
}
#section-cover .content .container-text
{
    position: relative;
    width: 50%;
    text-align:center;
    padding-right: 12%;
    padding-left: 12%;

}
#section-cover .content .container-text .title
{
    position: relative;

    margin-bottom: 35px;
    opacity: 0;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
}
#section-cover.anim .content .container-text .title
{
    opacity: 1;
}
#section-cover .content .container-text .title svg
{
    height: 100%;
}
#section-cover .content .container-text p
{
    font-family: National-Regular;
    font-size: 18px;
    line-height: 28px;
}
#section-cover .container-illu
{
    position: absolute;
    left: 50%;
    bottom: 0;

    width: calc(85% - 400px);
}


/*=====  End of SECTION COVER  ======*/


/*=======================================
=            SECTION DETAILS            =
=======================================*/
#section-details
{
    position: relative;

    padding-top: 120px;
}
#section-details .wrapper
{
    width: 900px;
    margin: auto;
    -webkit-perspective: 1600px;
    -ms-perspective: 1600px;
    perspective: 1600px;
}
#section-details .wrapper .container-text-1
{
    position: relative;
    width: 540px;
    margin: auto;
}
#section-details .wrapper .container-text-1 .text
{
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
}
#section-details .wrapper .container-text-1.anim .text
{
    opacity: 1;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
}
#section-details .wrapper .container-text-1 .text .pf
{
    position: absolute;
    top: 9px;
    right: calc(100% + 13px);

    display: inline-block;

    padding-right: 10px;

    vertical-align: top;
}
#section-details .wrapper .container-text-1 .text .pf:after
{
    position: absolute;
    top: 50%;
    right: 0;

    width: 10px;
    height: 2px;

    content: '';
}
#section-details .wrapper .container-text-1 .text h4
{
    font-family: National-Bold;
    font-size: 14px;

    padding-right: 13px;
}
#section-details .wrapper .container-text-1 .text p
{
    font-family: National-Regular;
    font-size: 24px;
    line-height: 34px;

    vertical-align: top;
}
#section-details .wrapper .container-text-1 .link
{
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transition-delay: 0.1s;
         -o-transition-delay: 0.1s;
            transition-delay: 0.1s;
    cursor: pointer;
    margin-top: 45px;
}
#section-details .wrapper .container-text-1.anim .link
{
    opacity: 1;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
}
#section-details .wrapper .container-text-1 .link p
{
    font-family: National-Bold;
    font-size: 14px;
}
#section-details .wrapper .container-text-1 .link:after
{
    position: absolute;
    top: 50%;
    left: calc(100% + 15px);

    width: 10px;
    height: 2px;

    content: '';
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
}
#section-details .wrapper .container-img
{
   position:relative;
   height: 585px;
   margin-top: 100px;
}
#section-details .wrapper .container-img .iphone-left
{
    position:absolute;
    right: 80%;
    width: 60%;
    bottom: 0px;
    -webkit-transform: translateY(40%);
        -ms-transform: translateY(40%);
            transform: translateY(40%);
    opacity: 0;
    -webkit-transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease; 
         -o-transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease; 
            -webkit-transition: opacity 1.5s ease, -webkit-transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000); 
            transition: opacity 1.5s ease, -webkit-transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000); 
            transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease; 
            transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease, -webkit-transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000);
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
}

#section-details .wrapper .container-img .iphone-middle
{
    position:absolute;
    left: 50%;
    width: 60%;
    -webkit-transform: translateX(-50%) translateY(40%);
        -ms-transform: translateX(-50%) translateY(40%);
            transform: translateX(-50%) translateY(40%);
    opacity: 0;
    -webkit-transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease; 
         -o-transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease; 
            -webkit-transition: opacity 1.5s ease, -webkit-transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000); 
            transition: opacity 1.5s ease, -webkit-transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000); 
            transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease; 
            transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease, -webkit-transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000);
    -webkit-transition-delay: 0.2s;
         -o-transition-delay: 0.2s;
            transition-delay: 0.2s;
}
#section-details .wrapper .container-img .iphone-right
{
    position:absolute;
    left: 80%;
    width: 60%;
    -webkit-transform: translateY(40%);
        -ms-transform: translateY(40%);
            transform: translateY(40%);
    opacity: 0;
    -webkit-transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease; 
         -o-transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease; 
            -webkit-transition: opacity 1.5s ease, -webkit-transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000); 
            transition: opacity 1.5s ease, -webkit-transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000); 
            transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease; 
            transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease, -webkit-transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000);
    -webkit-transition-delay: 0.4s;
         -o-transition-delay: 0.4s;
            transition-delay: 0.4s;
}

#section-details .wrapper .container-img.anim .iphone-middle
{
    -webkit-transform: translateX(-50%) translateY(0%);
        -ms-transform: translateX(-50%) translateY(0%);
            transform: translateX(-50%) translateY(0%);
    opacity: 1;
}
#section-details .wrapper .container-img.anim .iphone-right
{
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
}
#section-details .wrapper .container-img.anim .iphone-left
{
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
}

#section-details .wrapper .container-text-2
{
    margin-top: 130px;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
}
#section-details .wrapper .container-text-2.anim
{
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
}
#section-details .wrapper .container-text-2 .text
{
    position: relative;
    text-align: left;
}
#section-details .wrapper .container-text-2 .text .pf
{
    position: absolute;
    top: 9px;
    right: calc(100% + 13px);
    padding-right: 10px;
}
#section-details .wrapper .container-text-2 .text .pf:after
{
    position: absolute;
    top: 50%;
    right: 0;

    width: 10px;
    height: 2px;

    content: '';
}
#section-details .wrapper .container-text-2 .text h4
{
    font-family: National-Bold;
    font-size: 14px;

    padding-right: 13px;
}
#section-details .wrapper .container-text-2 .text p
{
    font-family: National-Regular;
    font-size: 24px;
    line-height: 34px;
}

#section-details .wrapper .container-mission
{
    position: relative;

    width: 880px;
    height: 112px;
    margin: auto;
    margin-top: 130px;
    opacity: 0;
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
    -webkit-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
}
#section-details .wrapper .container-mission.anim
{
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
}
#section-details .wrapper .container-mission .title
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    padding: 30px;

    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    background-color: #fff;
}
#section-details .wrapper .container-mission .title h5
{
    font-family: National-Bold;
    font-size: 18px;
    color: #363f54;
    text-transform: uppercase;
}
#section-details .wrapper .container-mission .content
{
    width: 100%;
    height: 100%;

    border: 1px solid;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#section-details .wrapper .container-mission .content .cdr
{
    position: relative;

    height: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
#section-details .wrapper .container-mission .content .cdr.cdr-year
{
    border-right: 1px solid;
}
#section-details .wrapper .container-mission .content .cdr.cdr-role
{
    border-right: 1px solid;
}
#section-details .wrapper .container-mission .content .cdr .text
{
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#section-details .wrapper .container-mission .content .cdr .text h6
{
    margin-right: 25px;
    font-family: National-Bold;
    font-size: 16px;
}
#section-details .wrapper .container-mission .content .cdr .text p
{
    font-family: National-Regular;
    font-size: 16px;
}

/*=====  End of SECTION DETAILS  ======*/

/*==========================================
=            SECTION TYPOGRAPHY            =
==========================================*/

#section-typography
{
    position: relative;

    margin-top: 220px;
}
#section-typography:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    -webkit-transform: translateX(-100%) skew(-20deg);
        -ms-transform: translateX(-100%) skew(-20deg);
            transform: translateX(-100%) skew(-20deg);
    opacity: 0;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#section-typography.anim:before
{
    opacity: 1;
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
}
#section-typography .illu
{
    position: absolute;
    top: 0;
    right: calc(10% - 35px);
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);

    opacity: 0;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#section-typography.anim .illu
{
    opacity: 1;
}
#section-typography .content
{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
#section-typography .container-title
{
    position: absolute;
    z-index: 1;
    left: 100px;

    padding-left: 100px;

    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: rotate(-90deg) translateX(-90%);
        -ms-transform: rotate(-90deg) translateX(-90%);
            transform: rotate(-90deg) translateX(-90%);
    opacity: 0;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#section-typography.anim .container-title
{
    opacity: 1;
    -webkit-transform: rotate(-90deg) translateX(-70%);
        -ms-transform: rotate(-90deg) translateX(-70%);
            transform: rotate(-90deg) translateX(-70%);
}
#section-typography .container-title h2
{
    font-family: National-Bold;
    font-size: 38px;

    position: relative;
}
#section-typography .container-title h2:after
{
    position: absolute;
    top: 50%;
    right: calc(100% + 40px);

    width: 60px;
    height: 2px;

    content: '';
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);

    border-radius: 2px;
}
#section-typography .container-title p
{
    font-family: National-Regular;
    font-size: 24px;
}
#section-typography .container-text
{
    position: relative;
    z-index: 1;

    width: 815px;
    margin: auto;
    padding-top: 220px;
    padding-bottom: 170px;
    padding-left: 60px;
}
#section-typography .container-text h3
{
    font-size: 52px;
    text-align: center;
    margin-bottom: 65px;

    opacity: 0;
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
       transition-delay: 0.2s;
}
#section-typography.anim .container-text h3
{
    opacity: 1;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);

}
#section-typography .container-text p
{
    font-size: 16px;
    line-height: 27px;

    -webkit-column-count: 2;

            column-count: 2;
    -webkit-column-gap: 60px;
            column-gap: 60px;
    
    opacity: 0;
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
       transition-delay: 0.4s;
}
#section-typography.anim .container-text p
{
    opacity: 1;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
}
/*=====  End of SECTION TYPOGRAPHY  ======*/


/*======================================
=            SECTION COLORS            =
======================================*/

#section-colors
{
    position: relative;
    z-index:2;
    padding-top: 180px;
}
#section-colors .content
{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
#section-colors .container-title
{
    position: absolute;
    z-index: 1;
    right: 100px;

    padding-left: 100px;

    -webkit-transform: rotate(90deg) translateX(110%);
        -ms-transform: rotate(90deg) translateX(110%);
            transform: rotate(90deg) translateX(110%);
    -webkit-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
            transform-origin: 100% 0;

    opacity: 0;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#section-colors.anim .container-title
{
    -webkit-transform: rotate(90deg) translateX(125%);
        -ms-transform: rotate(90deg) translateX(125%);
            transform: rotate(90deg) translateX(125%);
    opacity: 1;
}
#section-colors .container-title h2
{
    font-family: National-Bold;
    font-size: 38px;

    position: relative;
}
#section-colors .container-title h2:after
{
    position: absolute;
    top: 50%;
    right: calc(100% + 40px);

    width: 60px;
    height: 2px;

    content: '';
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);

    border-radius: 2px;
}
#section-colors .container-title p
{
    font-family: National-Regular;
    font-size: 24px;
}
#section-colors .container-colors
{
    position: relative;
    z-index: 1;

    width: 740px;
    margin: auto;
    margin-top: 180px;
    padding-bottom: 50px;
}

#section-colors .container-colors .colors .imgAnim
{
    -webkit-transition: transform .5s ease, opacity 1s ease;
         -o-transition: transform .5s ease, opacity 1s ease;
            -webkit-transition: opacity 1s ease, -webkit-transform .5s ease;
            transition: opacity 1s ease, -webkit-transform .5s ease;
            transition: transform .5s ease, opacity 1s ease;
            transition: transform .5s ease, opacity 1s ease, -webkit-transform .5s ease;
    -webkit-transform: translateY(40%);
        -ms-transform: translateY(40%);
            transform: translateY(40%);

    opacity: 0;
}
#section-colors .container-colors .wrapper:nth-child(1) .colors:nth-child(1) .imgAnim
{
    -webkit-transition-delay: 0s;
            -o-transition-delay: 0s;
       transition-delay: 0s;
}
#section-colors .container-colors .wrapper:nth-child(1) .colors:nth-child(2) .imgAnim
{
    -webkit-transition-delay: .1s;
            -o-transition-delay: .1s;
       transition-delay: .1s;
}
#section-colors .container-colors .wrapper:nth-child(1) .colors:nth-child(3) .imgAnim
{
    -webkit-transition-delay: .2s;
            -o-transition-delay: .2s;
       transition-delay: .2s;
}
#section-colors .container-colors .wrapper:nth-child(1) .colors:nth-child(4) .imgAnim
{
    -webkit-transition-delay: .3s;
            -o-transition-delay: .3s;
       transition-delay: .3s;
}
#section-colors .container-colors .wrapper:nth-child(1) .colors:nth-child(5) .imgAnim
{
    -webkit-transition-delay: .4s;
            -o-transition-delay: .4s;
       transition-delay: .4s;
}
#section-colors .container-colors .wrapper:nth-child(2) .colors:nth-child(1) .imgAnim
{
    -webkit-transition-delay: .1s;
            -o-transition-delay: .1s;
       transition-delay: .1s;
}
#section-colors .container-colors .wrapper:nth-child(2) .colors:nth-child(2) .imgAnim
{
    -webkit-transition-delay: .2s;
            -o-transition-delay: .2s;
       transition-delay: .2s;
}
#section-colors .container-colors .wrapper:nth-child(2) .colors:nth-child(3) .imgAnim
{
    -webkit-transition-delay: .3s;
            -o-transition-delay: .3s;
       transition-delay: .3s;
}
#section-colors .container-colors .wrapper:nth-child(2) .colors:nth-child(4) .imgAnim
{
    -webkit-transition-delay: .4s;
            -o-transition-delay: .4s;
       transition-delay: .4s;
}
#section-colors .container-colors .wrapper:nth-child(2) .colors:nth-child(5) .imgAnim
{
    -webkit-transition-delay: .5s;
            -o-transition-delay: .5s;
       transition-delay: .5s;
}

#section-colors.anim .container-colors .wrapper .colors .imgAnim
{
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);

    opacity: 1;
}



#section-colors .container-colors .colors .text
{
    -webkit-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
    -webkit-transform: translateY(60%);
        -ms-transform: translateY(60%);
            transform: translateY(60%);

    opacity: 0;
}

#section-colors .container-colors .wrapper:nth-child(1) .colors:nth-child(1) .text
{
    -webkit-transition-delay: .1s;
            -o-transition-delay: .1s;
       transition-delay: .1s;
}
#section-colors .container-colors .wrapper:nth-child(1) .colors:nth-child(2) .text
{
    -webkit-transition-delay: .2s;
            -o-transition-delay: .2s;
       transition-delay: .2s;
}
#section-colors .container-colors .wrapper:nth-child(1) .colors:nth-child(3) .text
{
    -webkit-transition-delay: .3s;
            -o-transition-delay: .3s;
       transition-delay: .3s;
}
#section-colors .container-colors .wrapper:nth-child(1) .colors:nth-child(4) .text
{
    -webkit-transition-delay: .4s;
            -o-transition-delay: .4s;
       transition-delay: .4s;
}
#section-colors .container-colors .wrapper:nth-child(1) .colors:nth-child(5) .text
{
    -webkit-transition-delay: .5s;
            -o-transition-delay: .5s;
       transition-delay: .5s;
}



#section-colors .container-colors .wrapper:nth-child(2) .colors:nth-child(1) .text
{
    -webkit-transition-delay: .2s;
            -o-transition-delay: .2s;
       transition-delay: .2s;
}
#section-colors .container-colors .wrapper:nth-child(2) .colors:nth-child(2) .text
{
    -webkit-transition-delay: .3s;
            -o-transition-delay: .3s;
       transition-delay: .3s;
}
#section-colors .container-colors .wrapper:nth-child(2) .colors:nth-child(3) .text
{
    -webkit-transition-delay: .4s;
            -o-transition-delay: .4s;
       transition-delay: .4s;
}
#section-colors .container-colors .wrapper:nth-child(2) .colors:nth-child(4) .text
{
    -webkit-transition-delay: .5s;
            -o-transition-delay: .5s;
       transition-delay: .5s;
}
#section-colors .container-colors .wrapper:nth-child(2) .colors:nth-child(5) .text
{
    -webkit-transition-delay: .6s;
            -o-transition-delay: .6s;
       transition-delay: .6s;
}


#section-colors.anim .container-colors .wrapper .colors .text
{
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);

    opacity: 1;
}

#section-colors .container-text
{
    text-align: center;
    opacity: 0;
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#section-colors.anim .container-text
{
    opacity: 1;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
}
#section-colors .container-text .text
{
    display: inline-block;

    text-align: left;
}
#section-colors .container-text .text .pf
{
    position: relative;

    display: inline-block;

    margin-top: 9px;
    padding-right: 10px;

    vertical-align: top;
}
#section-colors .container-text .text .pf:after
{
    position: absolute;
    top: 50%;
    right: 0;

    width: 10px;
    height: 2px;

    content: '';
}
#section-colors .container-text .text h4
{
    font-family: National-Bold;
    font-size: 14px;

    padding-right: 13px;
}
#section-colors .container-text .text p
{
    font-family: National-Regular;
    font-size: 24px;
    line-height: 34px;

    display: inline-block;

    width: 600px;
    padding-left: 13px;

    vertical-align: top;
}

/*=====  End of SECTION COLORS  ======*/


/*=======================================
=            SECTION SCREENS            =
=======================================*/

#section-screens
{
    position: relative;
    margin-top: 180px;
}
#section-screens .wrapper-screen
{
    position:relative;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 660px;
    margin-bottom: 180px;
    -webkit-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
}
#section-screens .wrapper-screen:last-child
{
    margin-bottom: 0px;
}
#section-screens .wrapper-screen .bg
{
    position: absolute;
    top: 0px;
    height: 100%;
    width: 554px;
    overflow:hidden;
}
#section-screens .wrapper-screen:nth-child(odd) .bg
{
    right: 43%;
}
#section-screens .wrapper-screen:nth-child(even) .bg
{
    left: 43%;
}
#section-screens .wrapper-screen .bg .img
{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0;
    -webkit-transition: all 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: all 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: all 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
#section-screens .wrapper-screen.anim .bg .img
{
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}
#section-screens .wrapper-screen .bg:after
{
    content: '';
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    -webkit-transition: transform 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: transform 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transition: -webkit-transform 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: -webkit-transform 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: transform 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: transform 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000), -webkit-transform 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
}
#section-screens .wrapper-screen.anim:nth-child(odd) .bg:after {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}
#section-screens .wrapper-screen.anim:nth-child(even) .bg:after {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

#section-screens .wrapper-screen .container-iphone
{
    width: 255px;
    position: absolute;
    z-index: 1;
    top: 50%;
    opacity: 0;
    -webkit-transition: all 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000); 
         -o-transition: all 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000); 
            transition: all 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000);
    -webkit-transform: translateZ(200px) rotateX(60deg) translateY(-50%);
        -ms-transform: translateZ(200px) rotateX(60deg) translateY(-50%);
            transform: translateZ(200px) rotateX(60deg) translateY(-50%);
}
#section-screens .wrapper-screen.anim .container-iphone
{
    opacity: 1;
    -webkit-transform: translateZ(50px) rotateY(0deg) translateY(-50%);
        -ms-transform: translateZ(50px) rotateY(0deg) translateY(-50%);
            transform: translateZ(50px) rotateY(0deg) translateY(-50%);
}
#section-screens .wrapper-screen:nth-child(odd) .container-iphone
{
    left: 50%;
}
#section-screens .wrapper-screen:nth-child(even) .container-iphone
{
    right: 50%;
}
#section-screens .wrapper-screen .container-iphone .iphone
{
    width: 100%;
    padding: 9%;
}
#section-screens .wrapper-screen .container-iphone:before
{
    position: absolute;
    z-index: -10;
    width: 60%;
    height: 80%;
    top: 14%;
    left: 20%;
    content: '';
    -webkit-box-shadow: 0 0px 50px 35px rgba(0,0,0,0.22);
            box-shadow: 0 0px 50px 35px rgba(0,0,0,0.22);
}
#section-screens .wrapper-screen .container-iphone .container-screen
{
    position: absolute;
    top: 47%;
    left: 50%;
    width: 74%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#section-screens .wrapper-screen .container-iphone .container-screen .screen
{
    width: 100%;
}

#section-screens .wrapper-screen .container-drt
{
    position: absolute;
    top: 0px;
    height: 100%;
    width: calc(50% - 255px);
    text-align:center;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#section-screens .wrapper-screen.anim .container-drt
{
    opacity: 1;
}
#section-screens .wrapper-screen:nth-child(odd) .container-drt
{
    right: 0%;
}
#section-screens .wrapper-screen:nth-child(even) .container-drt
{
    left: 0%;
}
#section-screens .wrapper-screen .container-drt .content
{
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
#section-screens .wrapper-screen .container-drt img
{
    width: 65px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
}
#section-screens .wrapper-screen .container-drt h4
{
    color: #363F54; 
    font-family: National-Bold;
    font-size: 18px;
    margin-bottom: 5px;
}
#section-screens .wrapper-screen .container-drt p
{
    opacity: 0.7;   
    color: #363F54; 
    font-family: National-Regular;
    font-size: 16px;
}

/*=====  End of SECTION SCREENS  ======*/
        


/*============================================
=            SECTION MULTISCREENS            =
============================================*/
#section-multiscreens
{
    position: relative;
    margin-top: 110px;
    padding-top: 160px;
    padding-bottom: 190px;
}
#section-multiscreens:before
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    height: 100%;
    -webkit-transform: translateX(100%) skew(-20deg);
        -ms-transform: translateX(100%) skew(-20deg);
            transform: translateX(100%) skew(-20deg);
    opacity: 0;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#section-multiscreens.anim:before
{
    opacity: 1;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
}
#section-multiscreens .content
{
    width: 1200px;
    padding-left: 200px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
#section-multiscreens .content.stikyTop,
#section-multiscreens .content.stikyBottom {
    justify-content: flex-end;
}
#section-multiscreens .container-title
{
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 100px;

    padding-left: 100px;

    -webkit-transform: rotate(-90deg) translateX(-120%);
        -ms-transform: rotate(-90deg) translateX(-120%);
            transform: rotate(-90deg) translateX(-120%);
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    opacity: 0;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#section-multiscreens.anim .container-title
{
    opacity: 1;
    -webkit-transform: rotate(-90deg) translateX(-100%);
        -ms-transform: rotate(-90deg) translateX(-100%);
            transform: rotate(-90deg) translateX(-100%);
}
#section-multiscreens .container-title h2
{
    font-family: National-Bold;
    font-size: 38px;

    position: relative;
}
#section-multiscreens .container-title h2:after
{
    position: absolute;
    top: 50%;
    right: calc(100% + 40px);

    width: 60px;
    height: 2px;

    content: '';
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);

    border-radius: 2px;
}
#section-multiscreens .container-title p
{
    font-family: National-Regular;
    font-size: 24px;
}
#section-multiscreens .content .container-text
{
    position: relative;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    top:auto;
    left: auto;
    opacity: 0;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
       transition-delay: 0.2s;
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
}
#section-multiscreens.anim .content .container-text
{
    opacity: 1;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
}
#section-multiscreens .content.stikyTop .container-text {
    position: fixed;
    top: 60px;
    left: 340px;
    width: 500px;
    -webkit-transition:0s;
        -o-transition: 0s;
           transition: 0s;
}
#section-multiscreens .content.stikyBottom .container-text {
    position: absolute;
    top: auto;
    bottom: 0;
    width: 500px;
    -webkit-transition:0s;
        -o-transition: 0s;
           transition: 0s;
}
#section-multiscreens .content .container-text h3
{
    font-family: National-Bold;
    font-size: 16px;

    margin-bottom: 10px;
}
#section-multiscreens .content .container-text p
{
    font-family: National-Regular;
    font-size: 16px;
    line-height: 24px;
}
#section-multiscreens .content .container-phone
{
    position: relative;
    top: 0px;
    text-align:center;
    width: 280px;
    opacity: 0;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
       transition-delay: 0.2s;
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
}
#section-multiscreens .content .container-phone.anim {
    opacity: 1;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
}
#section-multiscreens .content .container-phone .laptop
{
    position: absolute;
    width: 85%;
    left: 50%;
    top: -50px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
#section-multiscreens .content .container-phone:before {
    position: absolute;
    z-index: -10;
    width: 75%;
    top: 0%;
    left: 12%;
    content: '';
    -webkit-box-shadow: 0 0px 50px 35px rgba(0,0,0,0.22);
            box-shadow: 0 0px 50px 35px rgba(0,0,0,0.22);
}
#section-multiscreens .content .container-phone .screen-2
{
    position: relative;
    z-index: 1;
    width: 74%;
    -webkit-box-shadow: 0 15px 28px 0 rgba(0,0,0,0.22);
            box-shadow: 0 15px 28px 0 rgba(0,0,0,0.22);
}
#section-multiscreens .container-slides
{
    position: relative;
    margin-top: 100px;
    width: 70%;
    margin-left: auto;
}
#section-multiscreens .container-slides .shadow:before {
    position: absolute;
    z-index: 0;
    width: 230px;
    top: 0%;
    left: 0%;
    height: 115%;
    content: '';
    -webkit-box-shadow: 0 0px 50px 35px rgba(0,0,0,0.22);
            box-shadow: 0 0px 50px 35px rgba(0,0,0,0.22);
}
#section-multiscreens .container-slides .laptop
{
    position: absolute;
    top: 55%;
    left: -12px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 250px;
}
#section-multiscreens .container-slides .wrapperScreens
{
    width: 100%;
    height: 400px;
}
#section-multiscreens .container-slides .wrapperScreens img
{
    height: 100%;
    position: absolute;
    left: 0px;
    margin-right: 40px;
    -webkit-transition: all 0.5s ease; 
         -o-transition: all 0.5s ease; 
            transition: all 0.5s ease;
    -webkit-box-shadow: 0 15px 28px 0 rgba(0,0,0,0.22);
            box-shadow: 0 15px 28px 0 rgba(0,0,0,0.22);
}
#section-multiscreens .container-slides .wrapperScreens img.hide
{
    opacity: 0;
}

#section-multiscreens .container-slides .wrapperScreens img {
    opacity: 0;
}

#section-multiscreens .container-slides .wrapperScreens.anim img {
    opacity: 1;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition:0.5s;
}

#section-multiscreens .container-slides > .btn {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -110px;
    height: 35px;
    width: 35px;
    border-radius: 30px;
    cursor: pointer;
}

#section-multiscreens .container-slides > .btn .arrow {
    stroke: none !important;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    -ms-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg);
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
#section-multiscreens .container-slides > .btn .progress {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 38px;
    width: 38px;
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
    -ms-transform: translate(-50%, -50%) rotate(-90deg);
    transform: translate(-50%, -50%) rotate(-90deg);
}
#section-multiscreens .container-slides > .btn .progress circle:nth-child(1) {
    fill: none !important;
    stroke-width: 4px;
    stroke-dasharray: 339.292;
    stroke-dashoffset: 339.292;
    -webkit-transition: stroke-dashoffset 0s ease;
    -o-transition: stroke-dashoffset 0s ease;
    transition: stroke-dashoffset 0s ease;
}
#section-multiscreens .container-slides > .btn .progress.active circle:nth-child(1) {
    -webkit-transition: stroke-dashoffset 2s linear;
    -o-transition: stroke-dashoffset 2s linear;
    transition: stroke-dashoffset 2s linear;
    stroke-dashoffset: 0;
}


/*=====  End of SECTION MULTISCREENS  ======*/



/*=============================================
=             SECTION multimockup              =
=============================================*/

#section-multimockup
{
    position: relative;
    padding-bottom: 180px;
    padding-top: 140px;
}
#section-multimockup .content
{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-bottom: 300px;
}
#section-multimockup .container-title
{
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 100px;

    padding-left: 100px;

    -webkit-transform: rotate(-90deg) translateX(-120%);
        -ms-transform: rotate(-90deg) translateX(-120%);
            transform: rotate(-90deg) translateX(-120%);
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    opacity: 0;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#section-multimockup.anim .container-title
{
    opacity: 1;
    -webkit-transform: rotate(-90deg) translateX(-100%);
        -ms-transform: rotate(-90deg) translateX(-100%);
            transform: rotate(-90deg) translateX(-100%);
}
#section-multimockup .container-title h2
{
    font-family: National-Bold;
    font-size: 38px;

    position: relative;
}
#section-multimockup .container-title h2:after
{
    position: absolute;
    top: 50%;
    right: calc(100% + 40px);

    width: 60px;
    height: 2px;

    content: '';
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);

    border-radius: 2px;
    background-color: #000;
}
#section-multimockup .container-title p
{
    font-family: National-Regular;
    font-size: 24px;
}
#section-multimockup .container-text
{
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}
#section-multimockup .container-text p
{
    color: #363F54; 
    font-family: National-Regular;  
    font-size: 16px;     
    line-height: 24px;
}
#section-multimockup .container-img
{
    position:relative;
    height: 585px;

    width: 900px;
    margin: auto;
}
#section-multimockup .container-img .mockup-top
{
    position:absolute;
    right: -25%;
    width: 80%;
    top: -90%;
    -webkit-transform: translateY(40%);
        -ms-transform: translateY(40%);
            transform: translateY(40%);
    opacity: 0;
    -webkit-transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease; 
         -o-transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease; 
            -webkit-transition: opacity 1.5s ease, -webkit-transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000); 
            transition: opacity 1.5s ease, -webkit-transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000); 
            transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease; 
            transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease, -webkit-transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000);
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
}
#section-multimockup .container-img .mockup-top-left
{
    position:absolute;
    right: 75%;
    width: 80%;
    top: -410px;
    -webkit-transform: translateY(40%);
        -ms-transform: translateY(40%);
            transform: translateY(40%);
    opacity: 0;
    -webkit-transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease; 
         -o-transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease; 
            -webkit-transition: opacity 1.5s ease, -webkit-transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000); 
            transition: opacity 1.5s ease, -webkit-transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000); 
            transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease; 
            transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease, -webkit-transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000);
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
}
#section-multimockup .container-img .mockup-right
{
    position:absolute;
    right: -30%;
    width: 80%;
    top: -300px;
    -webkit-transform: translateY(40%);
        -ms-transform: translateY(40%);
            transform: translateY(40%);
    opacity: 0;
    -webkit-transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease; 
         -o-transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease; 
            -webkit-transition: opacity 1.5s ease, -webkit-transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000); 
            transition: opacity 1.5s ease, -webkit-transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000); 
            transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease; 
            transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease, -webkit-transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000);
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
}
#section-multimockup .container-img .mockup-left
{
    position:absolute;
    right: 86%;
    width: 85%;
    top: 150px;
    -webkit-transform: translateY(40%);
        -ms-transform: translateY(40%);
            transform: translateY(40%);
    opacity: 0;
    -webkit-transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease; 
         -o-transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease; 
            -webkit-transition: opacity 1.5s ease, -webkit-transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000); 
            transition: opacity 1.5s ease, -webkit-transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000); 
            transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease; 
            transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease, -webkit-transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000);
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
}
#section-multimockup .container-img .mockup-bottom
{
    position:absolute;
    right: -30%;
    width: 85%;
    top: 290px;
    -webkit-transform: translateY(40%);
        -ms-transform: translateY(40%);
            transform: translateY(40%);
    opacity: 0;
    -webkit-transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease; 
         -o-transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease; 
            -webkit-transition: opacity 1.5s ease, -webkit-transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000); 
            transition: opacity 1.5s ease, -webkit-transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000); 
            transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease; 
            transition: transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), opacity 1.5s ease, -webkit-transform 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000);
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
}


#section-multimockup .container-img.anim .mockup-top
{
    -webkit-transform: translateX(0%) translateY(10%);
        -ms-transform: translateX(0%) translateY(10%);
            transform: translateX(0%) translateY(10%);
    opacity: 1;
}

#section-multimockup .container-img.anim .mockup-top-left
{
    -webkit-transform: translateX(77%) translateY(15%);
        -ms-transform: translateX(77%) translateY(15%);
            transform: translateX(77%) translateY(15%);
    opacity: 1;
}
#section-multimockup .container-img.anim .mockup-left
{
    -webkit-transform: translateX(63%) translateY(-30%);
        -ms-transform: translateX(63%) translateY(-30%);
            transform: translateX(63%) translateY(-30%);
    opacity: 1;
}

#section-multimockup .container-img.anim .mockup-right
{
    -webkit-transform: translateX(15%) translateY(5%);
        -ms-transform: translateX(15%) translateY(5%);
            transform: translateX(15%) translateY(5%);
    opacity: 1;
}
#section-multimockup .container-img.anim .mockup-bottom
{
    -webkit-transform: translateX(-5%) translateY(-40%);
        -ms-transform: translateX(-5%) translateY(-40%);
            transform: translateX(-5%) translateY(-40%);
    opacity: 1;
}


/*=====  End of SECTION multimockup   ======*/

/*====================================
=            SECTION MADE            =
====================================*/

#section-made
{
    margin-top: -150px;
    padding: 60px 0px 60px 0px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
#section-made .text
{
    position: relative;
    padding-right: 14px;
}
#section-made .text p
{
    font-family: National-Bold;
    font-size: 14px;
    padding-right: 10px;
}
#section-made .text:after
{
    position: absolute;
    top: 50%;
    right: 0;
    width: 10px;
    height: 2px;
    content: '';
}
#section-made .li-el
{
    position:relative;
    padding-left: 15px;
}
#section-made .li-el .el
{
    font-family: National-Regular;
    font-size: 16px;
}

/*=====  End of SECTION MADE  ======*/