@font-face
{
    font-family: MyriadPro-Regular;

    src: url(https://www.agence-me.com/AgenceMeV4/fonts/font-templates/style-3/uc-orange/MyriadPro-Regular.otf);
}
/*=====================================
=            SECTION COVER            =
=====================================*/

#section-cover .content .container-text .title svg
{
    height: 40px;

    fill: #fff;
}
#section-cover .content .container-text p
{
    color: #fff;
}
#section-cover .container-illu 
{
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    bottom: initial;
    right: initial;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#section-cover .container-illu img {
    position: absolute;
    width: 50%;
}

/*=====  End of SECTION COVER  ======*/


/*=======================================
=            Section DETAILS            =
=======================================*/

#section-details .wrapper .container-text-1 .text .pf:after
{
    background-color: #FF7487;
}
#section-details .wrapper .container-text-1 .text h4
{
    color: #363f54;
}
#section-details .wrapper .container-text-1 .text p
{
    color: #FF7487;
}
#section-details .wrapper .container-text-1 .link p
{
    color: #363f54;
}
#section-details .wrapper .container-text-1 .link:after
{
    background-color: #2884F6;
}

#section-details .wrapper .container-text-2 .text .pf:after
{
    background-color: #2884f6;
}
#section-details .wrapper .container-text-2 .text h4
{
    color: #2884f6;
}
#section-details .wrapper .container-text-2 .text p
{
    color: #363f54;
}
#section-details .wrapper .container-mission .title h5
{
    color: #363f54;
}
#section-details .wrapper .container-mission .content,
#section-details .wrapper .container-mission .content .cdr.cdr-year,
#section-details .wrapper .container-mission .content .cdr.cdr-role
{
    border-color: #d6d6d6;
}
#section-details .wrapper .container-mission .content .cdr .text h6
{
    color: #363f54;
}
#section-details .wrapper .container-mission .content .cdr .text p
{
    color: #363f54;
}

/*=====  End of Section DETAILS  ======*/

/*==========================================
=            Section TYPOGRAPHY            =
==========================================*/


#section-typography:before
{
    background-image: -webkit-linear-gradient(left, #F79CBD -50%, #F0576C 37.02%, #FD8355 100%);
    background-image: -o-linear-gradient(left, #F79CBD -50%, #F0576C 37.02%, #FD8355 100%);
    background-image: linear-gradient(to right, #F79CBD -50%, #F0576C 37.02%, #FD8355 100%);
}
#section-typography .illu img
{
    width: 90px;
    transform: translateY(50px);
    opacity: 0;
    -webkit-transition: all 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000); 
         -o-transition: all 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000); 
            transition: all 1500ms cubic-bezier(0.000, 0.785, 0.000, 1.000);
}
#section-typography .illu img:last-child
{
    width: 110px;
}
#section-typography.anim .illu img
{
    opacity: 1;
    transform: translateY(0px);
}
#section-typography.anim .illu img:nth-child(1)
{
    transition-delay: 0.1s
}
#section-typography.anim .illu img:nth-child(2)
{
    transition-delay: 0.2s
}
#section-typography.anim .illu img:nth-child(3)
{
    transition-delay: 0.3s
}
#section-typography.anim .illu img:nth-child(4)
{
    transition-delay: 0.4s
}
#section-typography.anim .illu img:nth-child(5)
{
    transition-delay: 0.5s
}
#section-typography .container-title h2
{
    color: #363f54;
}
#section-typography .container-title h2:after
{
    background-color: #363f54;
}
#section-typography .container-title p
{
    color: #363f54;
}
#section-typography .container-text h3
{
    font-family: MyriadPro-Regular;

    color: #FFF;
}
#section-typography .container-text p
{
    font-family: MyriadPro-Regular;

    color: #FFF;
}

/*=====  End of Section TYPOGRAPHY  ======*/



/*======================================
=            Section COLORS            =
======================================*/

#section-colors .container-title h2
{
    color: #363f54;
}
#section-colors .container-title h2:after
{
    background-color: #363f54;
}
#section-colors .container-title p
{
    color: #363f54;
}
#section-colors .container-text .text .pf:after
{
    background-color: #363f54;
}
#section-colors .container-text .text h4
{
    color: #363f54;
}
#section-colors .container-text .text p
{
    color:#FF7487;
}

#section-colors .container-colors .wrapper
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#section-colors .container-colors .wrapper .colors
{
    display: flex;
    align-items: center;
}
#section-colors .container-colors .wrapper:nth-child(1)
{
    margin-bottom: 63px;
}
#section-colors .container-colors .wrapper:nth-child(1) .colors:nth-child(1) .imgAnim
{
    width: 105px;
}
#section-colors .container-colors .wrapper .colors .imgAnim
{
    width: 72px;
}
#section-colors .container-colors .wrapper .colors .text
{
    margin-left: 15px;
}
#section-colors .container-colors .wrapper .colors .text .title
{
    color: #363F54; 
    font-family: National-Bold;  
    font-size: 14px;
}
#section-colors .container-colors .wrapper .colors .text .ref
{
    color: #363F54; 
    opacity: 0.7;
    font-family: National-Regular;  
    font-size: 16px;
}

#section-colors .container-illu {
    position: absolute;
    right: 0px;
    bottom: -100px;
}
#section-colors .container-illu .mini_montgolfiere {
    position: relative;
    width: 60px;
    bottom: -100px;
    left: -100px;
}
#section-colors .container-illu .big_montgolfiere {
    position: relative;
    top:0px;
    width: 100px;
}
    
/*=====  End of Section COLORS  ======*/


/*=============================================
=            SECTION MULTISCREENS             =
=============================================*/

#section-multiscreens:before
{
    background-image: -webkit-linear-gradient(left, #F79CBD -50%, #F0576C 37.02%, #FD8355 100%);
    background-image: -o-linear-gradient(left, #F79CBD -50%, #F0576C 37.02%, #FD8355 100%);
    background-image: linear-gradient(to right, #F79CBD -50%, #F0576C 37.02%, #FD8355 100%);
}
#section-multiscreens .container-title h2
{
    color: #FFF;
}
#section-multiscreens .container-title h2:after
{
    background-color: #FFF;
}
#section-multiscreens .container-title p
{
    color: #FFF;
}
#section-multiscreens .content .container-text h3
{
    color: #FFF;
}
#section-multiscreens .content .container-text p
{
    color: #FFF;
}
#section-multiscreens .container-slides > .btn {
    background-color: rgba(255, 255, 255, 0.2);
}
#section-multiscreens .container-slides > .btn .arrow,
#section-multiscreens .container-slides > .btn .progress circle {
    fill: #FFF;
    stroke: #FFF;
}
#section-multiscreens .content .container-phone:before {
    height: 43%;
}


/*=====  End of SECTION MULTISCREENS   ======*/


/*=============================================
=             SECTION multimockup              =
=============================================*/

#section-multimockup .container-title h2
{
    color: #363f54;
}
#section-multimockup .container-title h2:after
{
    background-color: #363f54;
}


/*=====  End of SECTION multimockup   ======*/

/*====================================
=            SECTION MADE            =
====================================*/

#section-made .text p
{
    color: #363F54;
}
#section-made .text:after
{
    background-color: #FF7487;
}
#section-made .li-el .el
{
    color: #FF7487;
}

/*=====  End of SECTION MADE  ======*/