/********************
 *      HEADER      *
 ********************/
#nav-btn .content .text span {
	color: #000;
}
#nav-btn .content .action .bar {
	background-color: #000;
}
#header-desktop .container-logo svg {
	fill: #000;
}
#header-desktop .container-rs:before {
	background-color: #000;
}
#header-desktop .container-rs .li-rs a svg {
	fill: #000;
}
#nav-btn.scroll {
	background-color: transparent;
}
#header-desktop .container-rs {
	position: fixed;
    bottom: 150px;
    top: auto;
}
/********************
 *    END HEADER    *
 ********************/



 /********************
 *      SITEMAP      *
 *********************/
html, body {
	height: auto;
}
#section-sitemap {
	width: 1100px;
	padding-top: 140px;
	margin: 0 auto;

	display: flex;
	flex-direction: row;
}

#section-sitemap #column-1 {
	width: 390px;

	display: flex;
	flex-direction: column;
}
#section-sitemap #column-2 {
	width: 690px;
	margin-left: 50px;

	display: flex;
	flex-direction: column;
}
#section-sitemap h2 {
	font-family:National-Bold;

	height: 43px;	
	color: #363F54;	
	font-size: 36px;
	line-height: 43px;

	margin-top: 40px;
}
#section-sitemap h3 {
	font-family:National-Bold;

	height: 17px;		
	color: #363F54;	
	font-size: 14px;	
	line-height: 17px;

	margin-top: 15px;
}
#section-sitemap p {
	font-family:National-Regular;

	height: 90px;	
	color: #757A84;	
	font-size: 12px;	
	line-height: 18px;

	margin-top: 10px;
}
#section-sitemap h2.hover {
	position: relative;
	background-color: #fff;
}
#section-sitemap h2 a {
	text-decoration: none;
	color: #363F54;
	background-color: #FFF;
    padding: 0px 20px 0px 20px;
    position: relative;
    margin-left: -20px;
}
#section-sitemap h2.hover:before
{
	content: '';
	background-color:#363F54;
	position: absolute;
	left: 0;
	top: 22px;
    width: 300px;
	height: 1px;
	-webkit-transform: translateY(-50%) translateX(-100%);
	    -ms-transform: translateY(-50%) translateX(-100%);
	        transform: translateY(-50%) translateX(-100%);
	-webkit-transition: transform 0.75s cubic-bezier(0.845, 0.000, 0.165, 1.000);
	     -o-transition: transform 0.75s cubic-bezier(0.845, 0.000, 0.165, 1.000);
	        -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.845, 0.000, 0.165, 1.000);
	        transition: -webkit-transform 0.75s cubic-bezier(0.845, 0.000, 0.165, 1.000);
	        transition: transform 0.75s cubic-bezier(0.845, 0.000, 0.165, 1.000);
	        transition: transform 0.75s cubic-bezier(0.845, 0.000, 0.165, 1.000), -webkit-transform 0.75s cubic-bezier(0.845, 0.000, 0.165, 1.000);
	opacity: 0;
}
#section-sitemap h2.hover:hover:before
{
	-webkit-transition: transform 2s cubic-bezier(0.000, 0.785, 0.000, 1.000);
	     -o-transition: transform 2s cubic-bezier(0.000, 0.785, 0.000, 1.000);
	        -webkit-transition: -webkit-transform 2s cubic-bezier(0.000, 0.785, 0.000, 1.000);
	        transition: -webkit-transform 2s cubic-bezier(0.000, 0.785, 0.000, 1.000);
	        transition: transform 2s cubic-bezier(0.000, 0.785, 0.000, 1.000);
	        transition: transform 2s cubic-bezier(0.000, 0.785, 0.000, 1.000), -webkit-transform 2s cubic-bezier(0.000, 0.785, 0.000, 1.000);
	-webkit-transform: translateY(-50%) translateX(-10%);
	    -ms-transform: translateY(-50%) translateX(-10%);
	        transform: translateY(-50%) translateX(-10%);
	opacity: 1;
}
#section-sitemap #column-2 .row-1 .el-projects
{
	padding-top: 20px;
}
#section-sitemap #column-2 .row-1 .el-projects ul
{
	-moz-column-count: 4;
   -moz-column-gap: 20px;
   -moz-column-fill: balance;
   -webkit-column-count: 3;
   -webkit-column-gap: 20px;
   -webkit-column-fill: balance;
   column-count: 3;
   column-gap: 20px;
   column-fill: balance;
   list-style-position: inside;
   list-style: none;
}
#section-sitemap #column-2 .row-1 .el-projects ul li
{
	position:relative;
	margin-bottom: 20px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	overflow: hidden;
	padding-left: 20px;
}
#section-sitemap #column-2 .row-1 .el-projects ul li:before
{
	content: '';
	background-color:#363F54;
	position: absolute;
	left: -1px;
	top: 50%;
	width: 100%;
	height: 1.5px;
	-webkit-transform: translateY(-50%) translateX(-100%);
	    -ms-transform: translateY(-50%) translateX(-100%);
	        transform: translateY(-50%) translateX(-100%);
	-webkit-transition: transform 0.75s cubic-bezier(0.845, 0.000, 0.165, 1.000);
	     -o-transition: transform 0.75s cubic-bezier(0.845, 0.000, 0.165, 1.000);
	        -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.845, 0.000, 0.165, 1.000);
	        transition: -webkit-transform 0.75s cubic-bezier(0.845, 0.000, 0.165, 1.000);
	        transition: transform 0.75s cubic-bezier(0.845, 0.000, 0.165, 1.000);
	        transition: transform 0.75s cubic-bezier(0.845, 0.000, 0.165, 1.000), -webkit-transform 0.75s cubic-bezier(0.845, 0.000, 0.165, 1.000);
}
#section-sitemap #column-2 .row-1 .el-projects ul li:hover:before
{
	-webkit-transition: transform 2s cubic-bezier(0.000, 0.785, 0.000, 1.000);
	     -o-transition: transform 2s cubic-bezier(0.000, 0.785, 0.000, 1.000);
	        -webkit-transition: -webkit-transform 2s cubic-bezier(0.000, 0.785, 0.000, 1.000);
	        transition: -webkit-transform 2s cubic-bezier(0.000, 0.785, 0.000, 1.000);
	        transition: transform 2s cubic-bezier(0.000, 0.785, 0.000, 1.000);
	        transition: transform 2s cubic-bezier(0.000, 0.785, 0.000, 1.000), -webkit-transform 2s cubic-bezier(0.000, 0.785, 0.000, 1.000);
	-webkit-transform: translateY(-50%) translateX(0%);
	    -ms-transform: translateY(-50%) translateX(0%);
	        transform: translateY(-50%) translateX(0%);
}
#section-sitemap #column-2 .row-1 .el-projects ul li a
{
	text-decoration: none;
	color: #6C717C;	
	font-family:National-Bold;
	font-size: 16px;
	display: inline-block;
	background-color: #FFF;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
	z-index: 1;
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
#section-sitemap #column-2 .row-1 .el-projects ul li .soon,
#section-sitemap #column-2 .row-1 .el-projects ul li .casestudy
{
	display: inline-block;
	padding: 3px 6px 3px 6px;
	background-color: #F2F2F2;
	border-radius: 30px;
	font-family:National-Bold;
	font-size: 11px;
	position: relative;
	z-index: 1;
}
#section-sitemap #column-2 .row-1 .el-projects ul li .soon
{
	color: #363F54;	
}
#section-sitemap #column-2 .row-1 .el-projects ul li .casestudy
{
	color: #2884F6;
}
#section-sitemap #column-2 .row-1 .el-projects ul li .casestudy img
{
	width: 8px;
    margin-top: 2px;
}
#section-sitemap #column-2 .row-1 .el-projects ul li:hover:before
{
	background-color: #363F54;
}
#section-sitemap #column-2 .row-1 .el-projects ul li:hover a
{
	color: #363F54;
}

/* AXA */
#section-sitemap #column-2 .row-1 .el-projects ul li.link-axa:hover:before
{
	background-color: #050494;
}
#section-sitemap #column-2 .row-1 .el-projects ul li.link-axa:hover a
{
	color: #050494;
}
/* END AXA*/

/* QONTO */
#section-sitemap #column-2 .row-1 .el-projects ul li.link-qonto:hover:before
{
	background-color: #6455CC;
}
#section-sitemap #column-2 .row-1 .el-projects ul li.link-qonto:hover a
{
	color: #6455CC;
}
/* END QONTO */

/* engie */
#section-sitemap #column-2 .row-1 .el-projects ul li.link-engie:hover:before
{
	background-color: #00AAFF;
}
#section-sitemap #column-2 .row-1 .el-projects ul li.link-engie:hover a
{
	color: #00AAFF;
}
/* END engie */

/* peech */
#section-sitemap #column-2 .row-1 .el-projects ul li.link-peech:hover:before
{
	background-color: #39C4FF;
}
#section-sitemap #column-2 .row-1 .el-projects ul li.link-peech:hover a
{
	color: #39C4FF;
}
/* END peech */

/* lefty */
#section-sitemap #column-2 .row-1 .el-projects ul li.link-lefty:hover:before
{
	background-color: #80DA33;
}
#section-sitemap #column-2 .row-1 .el-projects ul li.link-lefty:hover a
{
	color: #80DA33;
}
/* END lefty */

/* influence */
#section-sitemap #column-2 .row-1 .el-projects ul li.link-influence:hover:before
{
	background-color: #FF4F5B;
}
#section-sitemap #column-2 .row-1 .el-projects ul li.link-influence:hover a
{
	color: #FF4F5B;
}
/* END influence */

/* gamology */
#section-sitemap #column-2 .row-1 .el-projects ul li.link-gamology:hover:before
{
	background-color: #FFC022;
}
#section-sitemap #column-2 .row-1 .el-projects ul li.link-gamology:hover a
{
	color: #FFC022;
}
/* END gamology */

/* chauffeurprive */
#section-sitemap #column-2 .row-1 .el-projects ul li.link-chauffeurprive:hover:before
{
	background-color: #CE0C2A;
}
#section-sitemap #column-2 .row-1 .el-projects ul li.link-chauffeurprive:hover a
{
	color: #CE0C2A;
}
/* END chauffeurprive */

/* alwaysdata */
#section-sitemap #column-2 .row-1 .el-projects ul li.link-alwaysdata:hover:before
{
	background-color: #E5558B;
}
#section-sitemap #column-2 .row-1 .el-projects ul li.link-alwaysdata:hover a
{
	color: #E5558B;
}
/* END alwaysdata */

/* seekube */
#section-sitemap #column-2 .row-1 .el-projects ul li.link-seekube:hover:before
{
	background-color: #1D9CD0;
}
#section-sitemap #column-2 .row-1 .el-projects ul li.link-seekube:hover a
{
	color: #1D9CD0;
}
/* END seekube */

/* marks */
#section-sitemap #column-2 .row-1 .el-projects ul li.link-marks:hover:before
{
	background-color: #F0576C;
}
#section-sitemap #column-2 .row-1 .el-projects ul li.link-marks:hover a
{
	color: #F0576C;
}
/* END marks */

/* orange */
#section-sitemap #column-2 .row-1 .el-projects ul li.link-orange:hover:before
{
	background-color: #F0613C;
}
#section-sitemap #column-2 .row-1 .el-projects ul li.link-orange:hover a
{
	color: #F0613C;
}
/* END orange */

/* mektoube */
#section-sitemap #column-2 .row-1 .el-projects ul li.link-mektoube:hover:before
{
	background-color: #24CF5F;
}
#section-sitemap #column-2 .row-1 .el-projects ul li.link-mektoube:hover a
{
	color: #24CF5F;
}
/* END mektoube */

/* xola */
#section-sitemap #column-2 .row-1 .el-projects ul li.link-xola:hover:before
{
	background-color: #1A96FE;
}
#section-sitemap #column-2 .row-1 .el-projects ul li.link-xola:hover a
{
	color: #1A96FE;
}
/* END xola */

/* MonDocteur */
#section-sitemap #column-2 .row-1 .el-projects ul li.link-mondocteur:hover:before {
	background-color: #FF6C75;
}
#section-sitemap #column-2 .row-1 .el-projects ul li.link-mondocteur:hover a {
	color: #FF6C75;
}
/* END MonDocteur */

 /********************
 *    END SITEMAP    *
 *********************/



 /********************
 *      FOOTER       *
 *********************/
footer {
	display: none;
}
 /**********************
 *      END FOOTER     *
 **********************/