@media screen and (max-width: 1250px) {


	#section-typography .illu .img-boat {
		margin-top: 50px;
    	margin-left: 150px;
	}

	#section-screens .container-screens .anim-obj-1 {
		width: 40%;
		top: 52%;
		right: -7%;
	}
	#section-screens .container-screens .anim-obj-2 {
		top: 100%;
		left: 5%;
		width: 20%;
	}


	#section-screens .wrapper-2:before,
	#section-typography:before          {
		width: 100%;
	}

	#section-screens .wrapper-4 .content .anim-obj-4 {
		top: -2%;
	}
	#section-screens .wrapper-4 .content .anim-obj-5 {
		right: 30%;
    	bottom: 4%;
		width: 45%;
	}
}
@media screen and (max-width: 750px) {
	#section-cover {
		padding-bottom: 0;
	}
	#section-cover .container-illu
	{
		width: auto;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		left: 10%;

		min-width: initial;
		max-width: 500px;
		transform: translateY(0%);
		bottom: -50px;
		text-align:center;
	}
	#section-cover .container-illu img.anim {
		width: 100%;
		position: relative;
	}

	#section-typography:before
	{
		width: 100%;
	}
	#section-typography .illu
	{
		top: initial;
		right: 0;
	    bottom: -150px;
	    width: 300px;
	}

	#section-colors .container-colors .wrapper
	{
		width: 100%;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	#section-colors .container-colors .colors
	{
		width: 136px;
		margin-bottom: 50px;
	}
	#section-colors .container-colors .wrapper:nth-child(1) .colors .text
	{
		width: 100%;
		margin-top: 50px;
		margin-left: 0px;
		text-align: center;
	}
	#section-colors .container-colors .colors .text .ref
	{
		transform: none;
	}

	#section-screens .wrapper-2:before
	{
		width: 100%;
	}
	#section-screens .wrapper-2 .container-obj
	{
		top: 30%;
		width: 200px;
	}
	#section-screens .wrapper-4 .content .anim-obj-4
	{
		display: block;
		position: absolute;
		top:-250px;
		right: 20%;
	}
	#section-screens .wrapper-4 .content .anim-obj-6
	{
		width: 80%;
		left: -30%;
	}
}